<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>录入表格</title>
    <link href=/css/app.d9a306bbd44bb9fc6d2bbc3834dc4dcf.css rel=stylesheet>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.3/lib/theme-chalk/index.css">
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/js/manifest.3ad1d5771e9b13dbdad2.js></script>
<script type=text/javascript src=/js/vendor.212a7695509193bc3899.js></script>
<script type=text/javascript src=/js/app.9b61673e72e4b3cc5075.js></script>
</body>
</html>