<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>录入表单</title>
    <link href=/css/app.2f66ecda9dbc02a2fe555dc29829509a.css rel=stylesheet>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.3/lib/theme-chalk/index.css">

</head>
<body>
<div id=app></div>
<script type=text/javascript src=/js/manifest.3ad1d5771e9b13dbdad2.js></script>
<script type=text/javascript src=/js/vendor.9581755cbf43045dfc67.js></script>
<script type=text/javascript src=/js/app.918fff4d96d2e556927e.js></script>
</body></html>