<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name=viewport content="width=device-width,initial-scale=1">
		<title></title>
		<link rel="stylesheet" href="/css/bdbk.css">
		<script src="/js/jquery-1.12.4.min.js"></script>
		<script src="/js/search.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.3/lib/theme-chalk/index.css">
	</head>
	<body>
		<div class="page">
			<div class="page_color">
				<div class="page_div">
					<div class="div_search">
						<div class="search">
							<input class="search_text" type="text" placeholder="">
							<input class="search_button" type="button" value="搜索">
						</div>
					</div>
					<div class="div_list"></div>
				</div>
			</div>
		</div>
					
	</body>
</html>
